.navbar {
	margin-bottom: 0;
	border-radius: 0;
	background-color: #1A2930;
	color: #FFF;
	padding: 1% 0;
	font-size: 1.5em;
	border: 0;
	font-weight: bold;
}
.navbar-brand {
	float: left;
	min-height: 55px;
	padding: 0 15px 5px;
}

#toplogo{
	width:275px;
	height:50px;
}
.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
	color: #FFF;
	background-color: #1A2930;
}
.navbar-inverse .navbar-nav li a {
	color: #D5D5D5;
}
.carousel-caption{
	top: 50%;
	transform: translateY(-30%);
	transform: translateX(-10%);
	text-transform: uppercase;	
	width: 75%; 
}
h1{
	text-shadow: 2px 2px #1A2930;
	font-size: 4em;
}
.btn{
	font-size: 18px;
	color: #FFF;
	padding: 12px 22px;
	background-color: #1A2930;
	border: 2px solid #FFF;
}
.description{
	max-width: 50%;
	margin: auto;
	padding: 5px 10px;
	border: 2px solid #FFF;
	font-weight: bold;
	background-color: rgba(26, 41, 48, 0.6);
	display: none;
	text-align: justify;
}
#icon {
	max-width: 200px;
	margin: 1% auto;
}

#addinfo {
	/* -webkit-text-stroke-width: 2px; */
   /* -webkit-text-stroke-color: #1A2930; */
	color: #0A1612;
}

footer{
	width:100%;
	background-color: #1A2930;
	padding: 5%;
	color: #FFF;
}
#contact{
	text-align: justify;
}

.fa{
	padding: 15px;
	font-size: 25px;
	color: #FFF;
}
.fa:hover{
	color: #D5D5D5;
	text-decoration: none;
}
#hidden{
	text-align: left;
}
#bottomlogo{
	height:140px;
	width:114px;
	padding-right: 0.1em;
}
@media (max-width: 900px) {
	.fa{
		font-size: 20px;
		padding: 10px
	}
}
@media (max-width: 600px) {
	.carousel-caption {
		display: none;
	}
	#icon {
		max-width: 150px;
	}
	h4{
		font-size: 1.7em;
	}
}

.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:justify;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(10,22,18,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out;
color: #C5C1C0;
padding: 15px 10px 15px;
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
top: 0.85em;
font-size:12px;
font-weight: bold;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect p {
	background:rgba(0,0,0,0.8);
	position: relative;
	padding: 10px;
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	font-size: 0.95em;
}
.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(0.95);
-webkit-transform:scale(0.95);
transform:scale(0.95);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
text-align: justify;
}


.hovereffect:hover h2,.hovereffect:hover a.info, .hovereffect:hover h6 {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}