.navbar {
	margin-bottom: 0;
	border-radius: 0;
	background-color: #1A2930;
	color: #FFF;
	padding: 1% 0;
	font-size: 1.2em;
	border: 0;
}
.navbar-brand {
	float: left;
	min-height: 55px;
	padding: 0 15px 5px;
}
.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
	color: #FFF;
	background-color: #1A2930;
}
.navbar-inverse .navbar-nav li a {
	color: #D5D5D5;
}
.carousel-caption{
	top: 50%;
	transform: translateY(-50%);
	text-transform: uppercase;
	
}
